body {
    margin: auto;
    background-color: black;
    padding: 120px;
    /*width: 1200px;*/
}
div {
    color: white;
    text-align: center;
}

#bf {
    position: absolute;
    left: -170px;
    top: -15px;
}

#img1 {
    position: relative;
    z-index: 1;
}
#img2 {
    position: absolute;
    left: 16.2%;
    z-index: 2;
}

#img3 {
    position: absolute;
    left: 16.2%;
    z-index: 3;
}

main {

}

#bloc1, #bloc2, #bloc3, #bloc4 {
    display: inline-block;
    top: 25%;
    left: 25%;
    position: relative;
    /*float: left;*/
    width: 100px;
    margin: 20px;
    height: 144px;
}

.bordure {
    border: 3px solid white;
    outline: 3px solid #df7575;
}

.titre1 {
    font-weight: bold;
    font-size: 24px;
    padding-left: 30%;
}

.titre2 {
    font-weight: bold;
    font-size: 20px;
    padding-left: 30%;
}

strong {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: -2px 1px #df7575;
    padding-left: 30%;
}